{% extends "template_base.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'assets/css/elements/infobox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="row layout-top-spacing">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget-content-area row">
                        <div class="widget-one col mt-4">

                            <h4>Os objetivos deste Portal são os seguintes:</h4>

                            <h6 class="ml-3 mt-5">
                                1) Demonstrar de maneira prática a criação de ontologias para estruturar e guardar os dados sobre cursos e saídas profissionais;<br><br>
                                2) Executar a extração, transformação e consolidação dos dados disponíveis na Web;<br><br>
                                3) Criação de um <i>linked data mashup</i> para a integração semântica dos dados sobre o acesso ao ensino superior português fazendo referência cruzada com as saídas profissionais;<br><br>
                                4) Disponibilizar esses dados em formato aberto para possível uso por terceiros e para o desenvolvimento de aplicações.</h6><br>

                        </div>
<!--                        <div class="widget-one col mt-2 text-right">-->
<!--                            <a type="button" class="btn btn-outline-primary mb-2 mr-2" data-toggle="modal" data-target="#modalCurso">Extração de Cursos</a>-->
<!--                            <a type="button" class="btn btn-outline-primary mb-2 mr-2" data-toggle="modal" data-target="#modalJob">Extração de Ofertas de Trabalho</a>-->
<!--                            <a href="/processa_ontologia" class="btn btn-outline-primary mb-2">Processa Ontologia</a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row  mr-4 ml-4">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 layout-spacing">
                    <div style="width: 90%; padding: 25px; height: 100%" class="infobox-1 ">
                        <div class="info-icon ">
                            <h5 class="info-heading"><i class="text-primary mr-5" data-feather="download-cloud"></i>Extração de Dados</h5>
                        </div>
                        <p class="info-text">Esta opção executará rotinas em retaguarda para extração de dados em sites de universidades e sites de ofertas de emprego. Todas informações coletadas serão armazenadas em banco de dados e disponibilizadas para serialização.</p>
                        <div class="text-center mt-4">
                            <a href="/importa_dados" class="btn btn-outline-primary mt-2 ml-2">Cursos</a>
<!--                            <a data-toggle="modal" data-target="#modalCurso" href="javascript:void(0);" class="btn btn-outline-primary mt-2 mr-4">Cursos</a>-->
                            <a data-toggle="modal" data-target="#modalJob" href="javascript:void(0);" class="btn btn-outline-primary mt-2 ml-2">Ofertas de Trabalho</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 layout-spacing">
                    <div style="width: 90%; padding: 25px; height: 100%" class="infobox-1 ">
                        <div class="info-icon ">
<!--                            <i class="text-warning" data-feather="codepen"></i>-->
                            <h5 class="info-heading"><i class="text-primary mr-5" data-feather="codepen"></i>Ontologias</h5>
                        </div>
                        <p class="info-text">Aqui você terá acesso as ontologias. <br>Poderá visualizá-las ou serializá-las com as últimas informações armazenadas no banco de dados. Também terá acesso a alterar entre os formatos mais comuns, como Turtle, NT, PrettyXML, Trig e XML puro.</p>
                        <div class="text-center">
                            <a href="/visualiza_ontologia" class="btn set-overlay btn-outline-primary mt-2 mr-5">Visualizar</a>
                            <a href="/serializa_ontologia"class="btn set-overlay btn-outline-primary mt-2">Serializar</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 layout-spacing">
                    <div style="width: 90%; padding: 25px; height: 100%" class="infobox-1 ">
                        <div class="info-icon ">
                            <h5 class="info-heading"><i class="text-primary mr-5" data-feather="database"></i>SPARQL</h5>
                        </div>
                        <p class="info-text">Aqui você terá acesso ao módulo de execução do SPARQL sobre as ontologias serializadas. <br>Poderá criar sua própria consulta e a aplicação tentará executar a mesma. Caso tenha sucesso, mostrará as informações na tela.</p>
                        <div class="text-center">
                            <a href="/sparql_ontologia"class="btn set-overlay btn-outline-primary mt-3">Módulo SPARQL</a>
                        </div>
                    </div>
                </div>
<!--                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 layout-spacing">-->
<!--                    <div style="width: 90%; padding: 25px; height: 100%" class="infobox-2 ">-->
<!--                        <div class="info-icon ">-->
<!--                            <i class="text-warning" data-feather="share"></i>-->
<!--                        </div>-->
<!--                        <h5 class="info-heading">SPARQL</h5>-->
<!--                        <p class="info-text">Aqui você terá acesso ao sucesso, mostrará as informações na tela.</p>-->
<!--                        <div class="text-center">-->
<!--                            <button class="btn btn-outline-warning mt-2 mr-5">Visualizar</button>-->
<!--                            <button class="btn btn-outline-warning mt-2">Serializar</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xl-6 col-lg-6 col-md-6 mb-4">-->
<!--                    <div class="card b-l-card-1 h-100" style="-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); ">-->
<!--                        <div class="row card-body">-->
<!--                            <strong class="card-category">Trends</strong>-->
<!--                            <h5 class="card-title mt-2">Trending Style</h5>-->
<!--                            <p class="card-text meta-info meta-time mb-2"><small class="">3 mins ago</small></p>-->
<!--                            <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>-->
<!--                            <button class="btn btn-outline-warning mt-2">Read More</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-6 col-lg-6 col-md-6 mb-4">-->
<!--                    <div class="card b-l-card-1 h-100" style="-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2); ">-->
<!--                        <div class="card-body">-->
<!--                            <strong class="card-category">Trends</strong>-->
<!--                            <h5 class="card-title mt-2">Trending Style</h5>-->
<!--                            <p class="card-text meta-info meta-time mb-2"><small class="">3 mins ago</small></p>-->
<!--                            <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>-->
<!--                            <button class="btn btn-outline-warning mt-2">Read More</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div id="" class="col-lg-12 col-md-12 layout-spacing">-->
<!--                    <div class="statbox widget box box-shadow">-->
<!--                        <div class="widget-header">-->
<!--                            <div class="row">-->
<!--                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">-->
<!--                                    <h4>Tabela de Source Sites</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="widget-content widget-content-area">-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table table-bordered mb-4">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>Código</th>-->
<!--                                            <th>Nome</th>-->
<!--                                            <th>URI</th>-->
<!--                                            <th class="text-center">Último Acesso</th>-->
<!--                                            <th class="text-center">Populated</th>-->
<!--                                            <th class="text-center">Tipo</th>-->
<!--                                            <th class="text-center">Action</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        {% for x in sites %}-->
<!--                                            <tr>-->
<!--                                                <td>{{ x.codigo }}</td>-->
<!--                                                <td>{{ x.nome }}</td>-->
<!--                                                <td>{{ x.uri }}</td>-->
<!--                                                <td class="text-center">{{ x.data_ultimo_acesso|date:'d/M/Y H:i' }}</td>-->
<!--                                                <td class="text-center">{% if x.populated %}<span class="badge badge-success">Sim{% else %}<span class="badge badge-danger">Não{% endif %}</td>-->
<!--                                                {% if x.tipo == 'json' %}-->
<!--                                                    <td class="text-center"><span class="badge badge-success">{{ x.tipo }}</span></td>-->
<!--                                                {% elif x.tipo == 'pdf' %}-->
<!--                                                    <td class="text-center"><span class="badge badge-primary">{{ x.tipo }}</span></td>-->
<!--                                                {% elif x.tipo == 'xls' %}-->
<!--                                                    <td class="text-center"><span class="badge badge-warning">{{ x.tipo }}</span></td>-->
<!--                                                {% elif x.tipo == 'xml' %}-->
<!--                                                    <td class="text-center"><span class="badge badge-info">{{ x.tipo }}</span></td>-->
<!--                                                {% else %}-->
<!--                                                    <td class="text-center"><span class="badge badge-secondary">{{ x.tipo }}</span></td>-->
<!--                                                {% endif %}-->
<!--                                                <td class="text-center">-->
<!--                                                    <div class="dropdown custom-dropdown">-->
<!--                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>-->
<!--                                                        </a>-->
<!--&lt;!&ndash;                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="customDropdown">&ndash;&gt;-->
<!--                                                        <div  style="background-color: #bfc9d4" class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuLink1">-->
<!--                                                            <a {% if not x.populated %} disabled {% endif %} class="dropdown-item set-overlay" href="/populate_child/{{ x.codigo }}">Populate</a>-->
<!--                                                            <a class="dropdown-item set-overlay" href="javascript:void(0);">View</a>-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        {% endfor %}-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2020, Free copy and use.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </div>
    <!--  END CONTENT PART  -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('.close-modal').on('click', function (e) {
            $('.modal').modal("hide");
        });
    </script>
{% endblock %}

