{% extends "template_base.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    <div id="content" class="main-content">
        <form id="run_sparql_ontologia" action="/run_sparql_ontologia/" method="POST">{% csrf_token %}
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-12 ">
                        <div class="row ml-3 mr-3">
                            <div class="widget-one col-7 mt-3">
                                <div class="form-group">
                                    <label>Sentença SPARQL</label>
                                    <textarea class="form-control form-control-sm bs-tooltip" name="sparql_text" data-toggle="tooltip" data-placement="right" data-original-title="Digite aqui uma sentença SPARQL compatível com a ontologia" required maxlength="256" size="256" rows="2">{{ sparql_query }}</textarea>
                                    <small class="form-text text-muted">Ex.: 'SELECT ?label ?NamedIndividual WHERE { ?AreaCurso rdfs:label ?label }'</small>
                                    <input hidden value="curso" id="run_on" name="run_on">
                                </div>
                            </div>
                            <div class="widget-one col-5 mt-5 text-right">
                                <button onclick="set_run_on('curso')" form="run_sparql_ontologia" type="submit" class="btn btn-outline-primary btn-formato xml ml-2 mr-4">Executa na Ontologia Cursos</button>
                                <button onclick="set_run_on('job')" form="run_sparql_ontologia" type="submit" class="btn btn-outline-primary btn-formato xml ml-2 mr-4">Executa na Ontologia Trabalho</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 ">
                        <div class="statbox widget box box-shadow ml-4 mr-4">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4 id="textTitle">Resultado:</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive">
                                    <textarea class="form-control" id="resultTextarea" rows="20">{% for x in sparql_resultado %}{{ x }}{% endfor %}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2020, Free copy and use.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </div>
    <!--  END CONTENT PART  -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function set_run_on(text) {
            if ( text == 'curso' ) {
                $('#run_on').val('curso')
            } else {
                $('#run_on').val('job')
            };
        };
    </script>
{% endblock %}

