<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Semantic-ESP - Web Semântica no Ensino Superior Português</title>
    <link rel="icon" type="image/x-icon" href="{% static '/assets/img/favicon.ico' %}"/>
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'assets/js/loader.js' %}"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/notiflix/notiflix-2.7.0.min.css' %}" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    {% block style %}
    {% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body class="alt-menu" onload="ctrlLoader()">
    <!-- BEGIN LOADER -->
<!--    <div id="load_screen"> <div class="loader"> <div class="loader-content">-->
<!--        <div class="spinner-grow align-self-center"></div>-->
<!--    </div></div></div>-->
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    {% include "template_navbar.html" %}
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include "template_sidebar.html" %}
        <!--  END SIDEBAR  -->
        
        <!--  BEGIN CONTENT PART  -->
        {% block content %}
        {% endblock %}
        <!--  END CONTENT PART  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'plugins/font-icons/feather/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script src="{% static 'assets/js/notiflix/notiflix-2.7.0.min.js' %}"></script>

    <script type="text/javascript">
        feather.replace();
        $(document).ready(function() {
            App.init();
        });

        // veja documentação: https://www.notiflix.com/documentation
        Notiflix.Loading.Init({
            svgSize: '80px',
            //svgColor: '#1548ea',
        });

        Notiflix.Notify.Init({
            position: 'center-top',
            messageMaxLength: 255,
            plainText: true,
            pauseOnHover: true,
            clickToClose: true,
            cssAnimationStyle:'zoom',
            cssAnimationDuration:800,
            width: '30%',
            opacity: 1,
        });

        // liga overlay quando salva
        $('.set-overlay').on('submit', function() {
            Notiflix.Loading.Standard('Processando...');
        });

        // liga overlay quando clica
        $('.set-overlay-on-click').on('click', function() {
            //console.log('ddddd');
            Notiflix.Loading.Standard('Processando...');
        });

        function ctrlLoader() {
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    Notiflix.Notify.Failure('{{ message|escapejs }}', {timeout: 4000});
                {% elif 'debug' in message.tags %}
                    Notiflix.Notify.Failure('{{ message|escapejs }}');
                {% elif 'success' in message.tags %}
                    Notiflix.Notify.Success('{{ message|escapejs }}', {timeout: 4000});
                {% elif 'warning' in message.tags %}
                    Notiflix.Notify.Warning('{{ message|escapejs }}');
                {% elif 'info' in message.tags %}
                    Notiflix.Notify.Info('{{ message|escapejs }}');
                {% else %}  // primary
                    Notiflix.Notify.Info('{{ message|escapejs }}');
                {% endif %}
            {% endfor %}
            Notiflix.Loading.Remove(200);  // remove o loading
        };
    </script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    {% block script %}
    {% endblock %}
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

</body>
</html>